/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark .header__theme-menu {
  color: var(--accent-color);
  font-family: var(--main-font);
}

.page.theme_dark .decorated-zone::before {
  border-right: 1px solid var(--subtitle-bg-color);
  border-top: 1px solid var(--subtitle-bg-color);
}

.page.theme_dark .decorated-zone::after {
  border-left: 1px solid var(--subtitle-bg-color);
  border-bottom: 1px solid var(--subtitle-bg-color);
}

.page.page.theme_dark .header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.page.page.theme_dark .header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
  cursor: pointer;
}

.page.page.theme_dark .header__theme-menu-button:focus-visible {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--accent-color);
}

.page.theme_dark .header__theme-menu-button {
  background-color: initial;
  border: none;
  width: 70px;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0em;
  align-self: end;
}

.page.theme_dark .subtitle {
  color: var(--accent-color);
}

.page.theme_dark .link {
  text-shadow: 2px 1px var(--accent-color);
  text-decoration: none;
}

.page.page.theme_dark .link:hover {
  border-bottom: 1px solid var(--text-color);
}

.page.page.theme_dark .link:focus-visible {
  border: none;
  border: 1px solid var(--text-color);
}
