/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark  {
  --main-font: "IBM Plex Mono", monospace;
  --accent-color: #ff0070;
  --bg-color: rgba(0, 0, 40, 1);
  --text-color: rgba(241, 178, 206, 1);
  --title-color: rgba(219, 0, 255, 1);
  --subtitle-bg-color: rgba(255, 0, 112, 1);
  --border-color: #ff0070;
  --tabs-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --color-rec: #ff0070;
  --subtitle-text-color: #000028;
  --link-color: #F1B2CE;
  --link-shadow: #FF0070;
  --big-title-color: #FF0070;
}

/* .page.theme_dark {
  background-image: url(../images/cover-image-dark.png);

  } 

  .page.theme_dark .header_rec {
    display: block;
}
.header_rec {
  display: block;
}

  .page {
    background-image: url(../images/cover-image-dark.png);
  }

  .subtitle {
    color: var(--accent-color);
  }

 .header__theme-menu {
  color: var(--tabs-color);
  font-family: var(--main-font);
}

.page.theme_dark .decorated-zone::before {
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
}

.page.theme_dark .decorated-zone::after {
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.page.page.theme_dark .header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.page.page.theme_dark .header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.page.page.theme_dark .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.page.theme_dark .header__theme-menu-button {
  color: var(--accent-color);
  font-family: var(--main-font);
}

.page.theme_dark .subtitle {
  color: var(--accent-color);
}


.page.page.theme_dark .link:hover {
  border-bottom: 1px solid var(--text-color);
}

.page.page.theme_dark .link:focus-visible {
  border: 1px solid var(--text-color);
}

 .link {
  text-shadow: 2px 1px var(--accent-color);
  color: var(--text-color);
}

.page.theme_dark .title-decor {
  color: #000028;
}

@media (prefers-color-scheme: dark) {
 
  .header_rec {
    display: block;
  }

  .title-decor {
    color: #000028;
}
  
} */