/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  --main-font: "IBM Plex Mono", monospace;
  --accent-color: #ff0070;
  --bg-color: rgba(241, 178, 206, 1);
  --text-color: rgba(53, 52, 48, 1);
  --title-color: rgba(255, 194, 230, 1);
  --subtitle-bg-color: rgba(255, 141, 203, 1);
  --border-color: rgba(53, 52, 48, 1);
  --tabs-color: rgba(53, 52, 48, 1);
  --bg-image: url(../images/cover-image-light.png);
  --color-rec: transparent;
  --subtitle-text-color: #353430;
  --link-color: #353430;
  --link-shadow: #FFC2E6;
  --big-title-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font: "IBM Plex Mono", monospace;
    --accent-color: #ff0070;
    --bg-color: rgba(241, 178, 206, 1);
    --text-color: rgba(53, 52, 48, 1);
    --title-color: rgba(255, 194, 230, 1);
    --subtitle-bg-color: rgba(255, 141, 203, 1);
    --border-color: rgba(53, 52, 48, 1);
    --tabs-color: rgba(53, 52, 48, 1);
    --color-rec: transparent;
    --bg-image: url(../images/cover-image-light.png);
    --subtitle-text-color: #353430;
    --link-color: #353430;
    --link-shadow: #FFC2E6;
    --big-title-color: #353430;
  }
}



