/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  --main-font: "IBM Plex Mono", monospace;
  --accent-color: #ff0070;
  --bg-color: rgba(0, 0, 40, 1);
  --text-color: rgba(241, 178, 206, 1);
  --title-color: rgba(219, 0, 255, 1);
  --subtitle-bg-color: rgba(255, 0, 112, 1);
  color: var(--text-color);
  font-family: var(--main-font);
  background-color: var(--bg-color);
  /* Min-inline-size: 375px; */
  background-image: url(../images/cover-image-dark.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr min-content 1fr;
  min-height: 668px;
  padding: 20px 10px 10px 10px;
  justify-items: end;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
}

.header_rec {
  display: block;
  color: var(--accent-color);
  position: absolute;
  width: 33px;
  height: 26px;
  top: 12px;
  right: 36px;
}

.decorated-zone::before {
  content: "";
  width: 25px;
  color: var(--accent-color);
  height: 25px;
  font-size: 18px;
  border-right: 1px solid var(--subtitle-bg-color);
  border-top: 1px solid var(--subtitle-bg-color);
  position: absolute;
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  content: "";
  width: 25px;
  color: var(--accent-color);
  height: 25px;
  font-size: 18px;
  border-left: 1px solid var(--subtitle-bg-color);
  border-bottom: 1px solid var(--subtitle-bg-color);
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.header_rec::after {
  content: "";
  color: var(--subtitle-bg-color);
  background-color: var(--subtitle-bg-color);
  box-shadow: 0px 0px 4px 2px rgba(255, 0, 112, 1);
  position: absolute;
  font-size: 18px;
  width: 9px;
  height: 9px;
  top: 7px;
  left: 42px;
  border-radius: 3px;
}

@media (width >= 768px) {
  .header {
    padding: 0px 20px 15px 0px;
    margin-bottom: 60px;
  }

  .header__theme-menu {
    padding-top: 22px;
    padding-right: 2px;
  }

  .header_rec::after {
    top: 7px;
    left: 41px;
  }

  .header_rec {
    top: 2.01vh;
    left: 89.3vw;
  }

  .decorated-zone::after {
    top: 979px;
    left: 20px;
  }

  .title-decor {
    max-width: 364px;
  }
}

.title {
  font-family: var(--main-font);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  color: var(--title-color);
  text-shadow: 4px 4px var(--accent-color);
  line-height: 0.825;
  justify-self: start;
}

.title-decor {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 40, 1);
  background-color: var(--subtitle-bg-color);
  justify-self: end;
  align-self: center;
}

.header__theme-menu {
  justify-self: end;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0em;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  list-style-type: none;
  padding-bottom: 14px;
}

.page.page.theme_auto .header__theme-menu-button {
  background-color: initial;
  border: none;
  width: 70px;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0em;
  align-self: end;
}

.page.page.theme_auto .header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
  cursor: pointer;
}

.page.page.theme_auto .header__theme-menu-button:focus-visible {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--accent-color);
}

.link:focus-visible {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--text-color);
}

.page.page.theme_auto .header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.main-content {
  display: grid;
  gap: 50px;
}

.content {
  display: grid;
  margin-right: 10px;
  margin-left: 10px;
}

.subtitle {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--accent-color);
  margin: 0 0 20px 0px;
}

.content .title-decor {
  justify-self: auto;
  margin-bottom: 10px;
  max-width: 100%;
}

@media (width >= 768px) {


  .title {
    padding-top: 17px;
  }

  .content {
    grid-template-columns: 1fr 2fr;
    /* margin-top: 25px;
    margin-left: 36px; */
    margin: 0;
    padding: 0 20px 0 20px;
    grid-column-gap: 20px;
    margin-bottom: 30px;
  }

  .header__theme-menu-list {
    padding-bottom: 0;
    padding-top: 10px;
  }
  
  .content-text {
    grid-column: 2;
  }

  .content .title-decor {
    grid-column: 2;
    align-self: start;
    /* margin: 0; */
  }

  .content .subtitle {
    margin: 0;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .concentration.content {
    grid-template-rows: none;
    grid-template-columns: none;
  }

  .container {
    display: grid;
    grid-row-start: 2;
    grid-template-rows: max-content;
    grid-auto-rows: max-content;
    justify-content: center;
  }

  .concentration.content .subtitle {
    grid-row-start: 1;
    grid-row-end: 1;
    margin-bottom: 20px;
    max-width: 236px;
  }

  .concentration.content .title-decor {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .concentration.content .content-text {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.content-text {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}

.last-paragraph {
  margin-bottom: 0;
}

.link {
  text-shadow: 2px 1px var(--accent-color);
  text-decoration: none;
}

.page.page.theme_auto .link:hover {
  border-bottom: 1px solid var(--text-color);
}

.page.page.theme_auto .link:focus-visible {
  border: none;
  border: 1px solid var(--text-color);
}

.normal.title-decor {
  font-weight: 400;
}

.margin {
  margin-bottom: 10px;
}

.margin .title-decor {
  margin: 0;
}

.title-decor.margin20 {
  margin-bottom: 20px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.margin10 {
  margin-bottom: 10px;
}

.gallery {
  display: grid;
  gap: 10px 10px;
  justify-content: center;
}

.sunset {
  width: 355px;
  height: 142px;
}

.ice-cream {
  width: 355px;
  height: 355px;
  object-fit: cover;
}

.tape {
  width: 355px;
  height: 237px;
  object-fit: cover;
}

.books {
  width: 355px;
  height: 355px;
}

.street {
  width: 355px;
  height: 237px;
}

@media (width >= 768px) {
  .fish-concentration.content .title-decor .normal {
    margin: 0;
  }

  .title-decor.margin20 {
    margin-bottom: 20px;
  }

  .margin.title-decor {
    margin-bottom: 20px;
  }

  .paragraf {
    grid-column-start: 2;
  }
  .images.content.content {
    display: block;
  }
  .gallery {
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
    gap: 20px 20px;
  }

  .sunset {
    grid-area: sunset;
    width: 479px;
    height: 192px;
  }

  .ice-cream {
    grid-area: ice-cream;
    width: 229px;
    height: 441px;
  }

  .tape {
    grid-area: tape;
    width: 229px;
    height: 568px;
  }

  .books {
    grid-area: books;
    width: 230px;
    height: 230px;
  }

  .street {
    grid-area: street;
    width: 479px;
    height: 318px;
  }
}

.footer {
  display: grid;
  height: 100vh;
  justify-items: center;
  align-items: center;
  position: relative;
  margin-top: 40px;
}

.footer-title {
  font-family: var(--main-font);
  font-size: 116px;
  font-weight: 700;
  line-height: 95.7px;
  text-align: left;
  color: rgba(219, 0, 255, 1);
  text-shadow: 2px 2px var(--accent-color);
}

@media (width >= 768px) {
  .footer {
    margin-top: 30px;
  }

  .decorated-zone::before {
    top: 1.9vh;
    left: 93.9vw;
  }

  .decorated-zone::after {
    top: 979px;
    left: 20px;
  }
}

@media (width >= 1024px) {
  .header {
    margin-bottom: 32px;
  }

  .footer-title {
    font-size: 157px;
  }

  .margin20.title-decor {
    margin-bottom: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    left: 979px;
  }

  .decorated-zone::after {
    top: 723px;
    left: 20px;
  }
}

@media (width >= 1024px) {
  .decorated-zone::before {
    top: 2.5vh;
    left: 95.5vw;
  }

  .header_rec::after {
    top: 7px;
    left: 41px;
  }

  .header_rec {
    top: 2.7vh;
    left: 92.1vw;
  }

  .decorated-zone::after {
    top: 723px;
    left: 20px;
  }

  .title-decor {
    max-width: 491px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-top: 16px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -3px;
    padding-left: 19px;
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .content {
    grid-template-columns: 0.97fr 2fr;
    margin-top: 27px;
    column-gap: 20px;
  }

  .concentration.content {
    margin-top: 0;
  }

  .concentration.content .subtitle {
    max-width: 315px;
  }

  .container {
    grid-template-columns: repeat(3, 315px);
    gap: 20px;
  }

  .images.content .title-decor {
    margin-bottom: 20px;
  }

  .fish-concentration.content {
    margin-top: 0px;
  }

  .images.content {
    display: block;
    margin-top: 0;
  }

  .sunset {
    width: 649px;
    height: 260px;
  }

  .ice-cream {
    width: 315px;
    height: 595px;
  }

  .tape {
    width: 315px;
    height: 768px;
  }

  .books {
    width: 315px;
    height: 315px;
  }

  .street {
    width: 649px;
    height: 428px;
  }

}

/* Для темной темы */


.page.theme_dark .header__theme-menu {
  color: var(--accent-color);
  font-family: var(--main-font);
}

.page.theme_dark .decorated-zone::before {
  border-right: 1px solid var(--subtitle-bg-color);
  border-top: 1px solid var(--subtitle-bg-color);
}

.page.theme_dark .decorated-zone::after {
  border-left: 1px solid var(--subtitle-bg-color);
  border-bottom: 1px solid var(--subtitle-bg-color);
}

.page.page.theme_dark .header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.page.page.theme_dark .header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
  cursor: pointer;
}

.page.page.theme_dark .header__theme-menu-button:focus-visible {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--accent-color);
}

.page.theme_dark .header__theme-menu-button {
  background-color: initial;
  border: none;
  width: 70px;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0em;
  align-self: end;
}

.page.theme_dark .subtitle {
  color: var(--accent-color);
}

.page.theme_dark .link {
  text-shadow: 2px 1px var(--accent-color);
  text-decoration: none;
}

.page.page.theme_dark .link:hover {
  border-bottom: 1px solid var(--text-color);
}

.page.page.theme_dark .link:focus-visible {
  border: none;
  border: 1px solid var(--text-color);
}
/* Конец темной темы */