/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: "IBM Plex Mono", monospace;
  --accent-color: #ff0070;
  --bg-color: rgba(0, 0, 40, 1);
  --text-color: rgba(241, 178, 206, 1);
  --title-color: rgba(219, 0, 255, 1);
  --subtitle-bg-color: rgba(255, 0, 112, 1);
  --border-color: rgba(255, 0, 112, 0.4);
  --tabs-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --color-rec: #ff0070;
  --subtitle-text-color: #000028;
  --link-color: #F1B2CE;
  --link-shadow: #FF0070;
  --big-title-color: #FF0070;
} 
